footer {
  background-color: var(--color-bg-accent);
  p {
    display: inline-block;
    vertical-align: text-top;
    padding: var(--space-05) var(--space-1);
  }
  a {
    font-weight: bold;
  }
}
