ul {
  li {
    .emoji-pick {
      background-color: var(--color-bg-sub);
      padding: var(--space-05) var(--space-02);
      width: var(--space-4);
      text-align: center;
      overflow: hidden;
      border-radius: var(--border-radius-08);
      cursor: pointer;
      user-select: none;
      p {
        font-size: var(--font-size-5);
      }
      .emoji-wrapper {
        font-size: var(--font-size-4);
      }
    }
  }
}
