@use './styles/variables';
@use './styles/reset';
@use './styles/themes';

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  font-feature-settings: 'kern';
  color: var(--color-txt-main);
  background-color: var(--color-bg-main);
}

a {
  color: var(--color-txt-main);
  text-decoration: none;
}

.fx-row-wrapper {
  overflow: hidden;
  > .fx-row-parent {
    display: flex;
    flex-flow: row wrap;
  }
}
// Not particularly needed (for every space size)
// define an array for each if the output is getting too bloated
@each $txt, $val in variables.$space-sizes {
  .fx-row-wrapper > .fx-row-space-#{$txt} {
    margin-right: -$val;
    margin-bottom: -$val;
    > .fx-row-child {
      padding-right: $val;
      padding-bottom: $val;
    }
  }

  .gutter-vertical-#{$txt} > * + * {
    margin-top: var(--space-#{$txt});
  }
}

.contain {
  max-width: var(--app-max-width);
  margin-left: auto;
  margin-right: auto;
}

.img-content {
  line-height: 0;
}
.img-round {
  width: auto;
  height: 100%;
  border-radius: 50%;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
