@mixin theme-dark {
  --color-txt-main: #fff;
  --color-txt-sub: #3e4674;
  --color-txt-accent: #525da8;
  --color-bg-main: #1a1d37;
  --color-bg-sub: #202646;
  --color-bg-accent: #313868;
}

// @mixin theme-light{
//   --color-txt-body: #fff;
//   --color-txt-sub: #545fab;
//   --color-bg-body: #1a1d37;
//   --color-bg-card: #202646;
// }

:root {
  --space-0: 0;
  --space-05: 0.5rem;
  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 4rem;
  --space-5: 5rem;
  --space-6: 6rem;
  --font-size-1: 5.4rem;
  --font-size-2: 3.6rem;
  --font-size-3: 2.4rem;
  --font-size-4: 1.8rem;
  --font-size-5: 1.4rem;
  --font-size-6: 1.2rem;
  --font-size-base: 1.2rem;

  // Dark theme by default
  @include theme-dark;
}
// .theme-light{
//   @include theme-light;
// }
