@use './variables';

// Initialize mixins
@mixin theme-dark {
  --color-txt-main: #fff;
  --color-txt-sub: #3e4674;
  --color-txt-accent: #525da8;
  --color-bg-main: #1a1d37;
  --color-bg-sub: #202646;
  --color-bg-accent: #313868;
}

// @mixin theme-light{
//   --color-txt-body: #fff;
//   --color-txt-sub: #545fab;
//   --color-bg-body: #1a1d37;
//   --color-bg-card: #202646;
// }

:root {
  @each $txt, $val in variables.$space-sizes {
    --space-#{$txt}: #{$val};
  }
  @each $txt, $val in variables.$font-sizes {
    --font-size-#{$txt}: #{$val};
  }
  @each $txt, $val in variables.$colors {
    --color-#{$txt}: #{$val};
  }
  --border-radius-08: 0.8rem;
  --app-max-width: 120rem;

  // Set dark theme as default
  @include theme-dark;
}

// .theme-light{
//   @include theme-light;
// }
